---
layout: "layout"
title: Challenges
---
h1.title.is-1.has-text-centered Challenges platforms

.columns
  .column.is-one-quarter
    .card
      header.card-header
        p.card-header-title = data.challenges.rootme.title
        a.card-header-icon href="#"
          span.icon
            i.fas.fa-flag aria-hidden="true"
      .card-image
        figure.image
          img src=data.challenges.rootme.picture alt=data.challenges.rootme.title
      .card-content
        .content = data.challenges.rootme.description
      footer.card-footer
        a.card-footer-item href=data.challenges.rootme.profile target='_blank' rel='noopener noreferrer' Profile
  .column
    .card
      header.card-header
        p.card-header-title = data.challenges.htb.title
        a.card-header-icon href="#"
          span.icon
            i.fas.fa-flag aria-hidden="true"
      .card-image
        figure.image
          img src=data.challenges.htb.picture alt=data.challenges.htb.title
      .card-content
        .content = data.challenges.htb.description
      footer.card-footer
        a.card-footer-item href=data.challenges.htb.profile target='_blank' rel='noopener noreferrer' Profile
  .column
  .column
